/*
Theme Name: Central Once v1
Theme URI: http://centralonce.tv/
Description: Tema para Central Once
Author: Emiliano Hernández
Author URI: http://twitter.com/milioh/
Version: 1.0
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu (optional)

License: http://www.ipn.mx/
License URI: http://www.ipn.mx/

Lead Project: @milioh
Design: @milioh
UX & HTML Building: @milioh
Development & Functions: @milioh
*/

/* FONTS */
@font-face { font-family: 'ConduitITCStd Black'; src: url('../fonts/ConduitITCStd/ConduitITCStd-Black.eot'); src: url('../fonts/ConduitITCStd/ConduitITCStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/ConduitITCStd/ConduitITCStd-Black.woff2') format('woff2'), url('../fonts/ConduitITCStd/ConduitITCStd-Black.woff') format('woff'), url('../fonts/ConduitITCStd/ConduitITCStd-Black.svg#webfont') format('svg');  font-weight: normal; font-style: normal; }
@font-face { font-family: 'ConduitITCStd BlackItalic'; src: url('../fonts/ConduitITCStd/ConduitITCStd-BlackItalic.eot'); src: url('../fonts/ConduitITCStd/ConduitITCStd-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/ConduitITCStd/ConduitITCStd-BlackItalic.woff2') format('woff2'), url('../fonts/ConduitITCStd/ConduitITCStd-BlackItalic.woff') format('woff'), url('../fonts/ConduitITCStd/ConduitITCStd-BlackItalic.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ConduitITCStd Bold'; src: url('../fonts/ConduitITCStd/ConduitITCStd-Bold.eot'); src: url('../fonts/ConduitITCStd/ConduitITCStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ConduitITCStd/ConduitITCStd-Bold.woff2') format('woff2'), url('../fonts/ConduitITCStd/ConduitITCStd-Bold.woff') format('woff'), url('../fonts/ConduitITCStd/ConduitITCStd-Bold.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ConduitITCStd BoldItalic'; src: url('../fonts/ConduitITCStd/ConduitITCStd-BoldItalic.eot'); src: url('../fonts/ConduitITCStd/ConduitITCStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/ConduitITCStd/ConduitITCStd-BoldItalic.woff2') format('woff2'), url('../fonts/ConduitITCStd/ConduitITCStd-BoldItalic.woff') format('woff'), url('../fonts/ConduitITCStd/ConduitITCStd-BoldItalic.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ConduitITCStd ExtraLight'; src: url('../fonts/ConduitITCStd/ConduitITCStd-ExtraLight.eot'); src: url('../fonts/ConduitITCStd/ConduitITCStd-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/ConduitITCStd/ConduitITCStd-ExtraLight.woff2') format('woff2'), url('../fonts/ConduitITCStd/ConduitITCStd-ExtraLight.woff') format('woff'), url('../fonts/ConduitITCStd/ConduitITCStd-ExtraLight.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ConduitITCStd ExtraLightItalic'; src: url('../fonts/ConduitITCStd/ConduitITCStd-ExtraLightItalic.eot'); src: url('../fonts/ConduitITCStd/ConduitITCStd-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/ConduitITCStd/ConduitITCStd-ExtraLightItalic.woff2') format('woff2'), url('../fonts/ConduitITCStd/ConduitITCStd-ExtraLightItalic.woff') format('woff'), url('../fonts/ConduitITCStd/ConduitITCStd-ExtraLightItalic.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ConduitITCStd Italic'; src: url('../fonts/ConduitITCStd/ConduitITCStd-Italic.eot'); src: url('../fonts/ConduitITCStd/ConduitITCStd-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/ConduitITCStd/ConduitITCStd-Italic.woff2') format('woff2'), url('../fonts/ConduitITCStd/ConduitITCStd-Italic.woff') format('woff'), url('../fonts/ConduitITCStd/ConduitITCStd-Italic.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ConduitITCStd LightItalic'; src: url('../fonts/ConduitITCStd/ConduitITCStd-LightItalic.eot'); src: url('../fonts/ConduitITCStd/ConduitITCStd-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/ConduitITCStd/ConduitITCStd-LightItalic.woff2') format('woff2'), url('../fonts/ConduitITCStd/ConduitITCStd-LightItalic.woff') format('woff'), url('../fonts/ConduitITCStd/ConduitITCStd-LightItalic.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ConduitITCStd Medium'; src: url('../fonts/ConduitITCStd/ConduitITCStd-Medium.eot'); src: url('../fonts/ConduitITCStd/ConduitITCStd-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/ConduitITCStd/ConduitITCStd-Medium.woff2') format('woff2'), url('../fonts/ConduitITCStd/ConduitITCStd-Medium.woff') format('woff'), url('../fonts/ConduitITCStd/ConduitITCStd-Medium.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ConduitITCStd MediumItalic'; src: url('../fonts/ConduitITCStd/ConduitITCStd-MediumItalic.eot'); src: url('../fonts/ConduitITCStd/ConduitITCStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/ConduitITCStd/ConduitITCStd-MediumItalic.woff2') format('woff2'), url('../fonts/ConduitITCStd/ConduitITCStd-MediumItalic.woff') format('woff'), url('../fonts/ConduitITCStd/ConduitITCStd-MediumItalic.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ConduitITCStd'; src: url('../fonts/ConduitITCStd/ConduitITCStd-Regular.eot'); src: url('../fonts/ConduitITCStd/ConduitITCStd-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ConduitITCStd/ConduitITCStd-Regular.woff2') format('woff2'), url('../fonts/ConduitITCStd/ConduitITCStd-Regular.woff') format('woff'), url('../fonts/ConduitITCStd/ConduitITCStd-Regular.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
.conduit-black { font-family: 'ConduitITCStd Black', sans-serif; }
.conduit-black-italic { font-family: 'ConduitITCStd BlackItalic', sans-serif; }
.conduit-bold { font-family: 'ConduitITCStd Bold', sans-serif; }
.conduit-bold-italic { font-family: 'ConduitITCStd BoldItalic', sans-serif; }
.conduit-extra-light { font-family: 'ConduitITCStd ExtraLight', sans-serif; }
.couduit-extra-light-italic { font-family: 'ConduitITCStd ExtraLightItalic', sans-serif; }
.conduit-italic { font-family: 'ConduitITCStd Italic', sans-serif; }
.conduit-light-italic{ font-family: 'ConduitITCStd LightItalic', sans-serif; }
.conduit-medium { font-family: 'ConduitITCStd Medium', sans-serif; }
.conduit-medium-italic { font-family: 'ConduitITCStd MediumItalic', sans-serif; }
.conduit { font-family: 'ConduitITCStd', sans-serif; }
.font46 { font-size: 46px; }
.font36 { font-size: 36px; }
.font26 { font-size: 26px; }
.font20 { font-size: 20px; }

/* PALETA */
.conifer { background-color: #9FE451 !important; } /* LIME */
.conifer-text { color: #9FE451 !important; }
.east-side { background-color: #AE7FD1 !important; } /* PURPLE */
.east-side-text { color: #AE7FD1 !important; }
.violet { background-color: #4622A1 !important; } /* BLUE */
.violet-text { color: #4622A1 !important; }
.tomato { background-color: #F46C50 !important; } /* ORANGE */
.tomato-text { color: #F46C50 !important; }
.shamrock { background-color: #27D990 !important; } /* GREEN */
.shamrock-text { color: #27D990 !important; }

/* COLORS */
.wattle { background-color: #E4DE46 !important; }
.wattle-text { color: #E4DE46 !important; }
.transparent { background-color: transparent !important; }
.ronchi { background-color: #ECC756 !important; }
.ronchi-text { color: #ECC756 !important; }
.sienna { background-color: #F16D53 !important; }
.sienna-text { color: #F16D53 !important; }
.dark-grey { background-color: #575656 !important; }
.dark-grey-text { color: #575656 !important; }
.rangoon-green { background-color: #1A1A1A !important; }
.rangoon-green-text { color: #1A1A1A !important; }
.grey { background-color: #A6A6A6 !important; }
.grey-text { color: #A6A6A6 !important; }
.black-rose { background-color: #640833 !important; }
.black-rose-text { color: #640833 !important; }

/* GENERAL */
html, body { width: 100%; background-color: #000; color: #FFF; }
.centered { margin: 0 auto; text-align: center; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.uppercase { text-transform: uppercase; }
.space5 { margin-top: 5px; display: block; }
.space10 { margin-top: 10px; display: block; }
.space20 { margin-top: 20px; display: block; }
.space40 { margin-top: 40px; display: block; }
.space60 { margin-top: 60px; display: block; }
.space80 { margin-top: 80px; display: block; }
.space100 { margin-top: 100px; display: block; }
.space200 { margin-top: 200px; display: block; }
.space300 { margin-top: 300px; display: block; }
.inline { display: inline-block; }
.block { display: block; }
.underline { text-decoration: underline; }
.no-padding { padding: 0 !important; }
.padding-1rem { padding: 1rem !important; }
.no-box-shadow { box-shadow: none !important; }
.no-margin-row { margin-top: -20px; }
.clear { clear: both !important; }

/* FOOTER */
#footer-social { }
#footer-social #social-icons { }
#footer-social #social-icons a { margin-right: 20px; }
#footer-social #social-icons a:last-child { margin-right: 0px; }
#footer-canal-once a { color: #E4DE46; }
#footer-canal-once svg { fill: #FFF; height: 124px; width: auto; }

/* NAVBAR */
nav .brand-logo { top: 70px; }
nav .brand-logo svg, nav .brand-logo img { width: 165; height: 153px; fill: #9FE451; }
nav #nav-mobile svg { height: 38px; width: auto; fill: #FFF; }
nav ul a:hover, nav ul li.active { background-color: transparent !important; }
.side-nav { background-color: #575656 !important; color: #FFF; }
.header-social { position: absolute; right: 200px; top: 0px; }

/* SLIDER */
.slider-home { /*margin-bottom: -20px !important;*/ }
.slick-next { right: 25px; }
.slick-prev { left: 25px; z-index: 1; }
.slick-prev:before, .slick-next:before { color:#9FE451 !important; }
.slider-home span { /* -webkit-text-stroke: 0.6px black; text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */ }
.slider-home .caption-left { position: absolute; bottom: 50px; left: 200px; background-color: rgba(255,255,255,0.7); padding: 20px; }
.slider-home .caption-right { position: absolute; bottom: 50px; right: 200px; background-color: rgba(255,255,255,0.7); padding: 20px; }
.slick-slide img { width: 100%; }

/* HOME */
.home { background: #000 url('../img/pattern-background.jpg') top left repeat !important; background-size: contain !important; }
.home .home_video_destacado { cursor: pointer; }
.home #seccion-musica { background: #000 url('../img/back-seccion-musica.jpg') top left repeat !important; background-size: contain !important; }
.home #home_instagram #grid_instagram img { border-bottom: 60px solid #E4DE46; }
.home #footer-canal-once { margin-bottom: 40px; }
.home #sb_instagram .sb_instagram_header a { color: #E4DE46 !important; font-family: 'ConduitITCStd', sans-serif; }
.home #sb_instagram .sb_instagram_header h3 { font-size: 20px !important; font-weight: bold; } 
.home #sb_instagram .sb_instagram_header p { font-size: 16px !important; }
.home #sb_instagram #sbi_load { background-color: #9FE451; padding-bottom: 10px; margin-top: -9px; padding-top: 6px; font-family: 'ConduitITCStd', sans-serif; font-size: 16px; }

/* EMCO */
.emco #emco_seasons { background: #000 url('../img/back-seccion-musica.jpg') top left repeat !important; background-size: contain !important; }
.emco #emco_seasons .item img { height: 26px !important; }

/* ACUSTICOS */
.acusticos #acusticos_seasons { background: #000 url('../img/back-seccion-musica.jpg') top left repeat !important; background-size: contain !important; }
.acusticos #acusticos_seasons .item img { height: 26px !important; }

/* LA CENTRAL */
.la-central #central_seasons { background: #000 url('../img/back-seccion-musica.jpg') top left repeat !important; background-size: contain !important; }
.la-central #central_seasons .item img { height: 26px !important; }

/* TODO TERRENO */
.todo-terreno #todoterreno_seasons { background: #000 url('../img/back-seccion-musica.jpg') top left repeat !important; background-size: contain !important; }
.todo-terreno #todoterreno_seasons .item img { height: 26px !important; }

/* SECCIONES */
.section { background: #000 url('../img/back-seccion-musica.jpg') top left repeat !important; background-size: contain !important; }
.section .item svg { height: 26px !important; }
.section .item .right { cursor: pointer; }

/* SERIES */


/* Styles for Tablets */

@media only screen  and (max-width : 992px) {
	nav .brand-logo svg { height: 58px; width: auto; margin-top: 3px !important; }
	.navbar-fixed nav { background-color: #000 !important; }
	.font46 { font-size: 36px; }
	.font36 { font-size: 28px; }
	.font26 { font-size: 20px; }
	.font20 { font-size: 16px; }
	.space5 { margin-top: 5px; display: block; }
	.space10 { margin-top: 10px; display: block; }
	.space20 { margin-top: 12px; display: block; }
	.space40 { margin-top: 24px; display: block; }
	.space60 { margin-top: 36px; display: block; }
	.space80 { margin-top: 48px; display: block; }
	.space100 { margin-top: 60px; display: block; }
	.space200 { margin-top: 120px; display: block; }
	.space300 { margin-top: 150px; display: block; }
	.slider-home { margin-top: 0px; }
	.slider-home .caption-left { bottom: 30px; left: 100px; }
	.slider-home .caption-right { bottom: 30px; right: 100px; }
	.padding-1rem { padding: 0px !important; }
	.home #seccion-musica .row { padding-top: 10px; }
	.home #home_instagram #grid_instagram img { border-bottom: 40px solid #E4DE46; }
	nav #nav-mobile svg { height: 40px; margin-top: 8px; }
	.header-social { right: 120px; top: -4px; }
}

/* Styles for Smartphones */

@media only screen  and (max-width : 600px) {
	nav .brand-logo svg { height: 48px; width: auto; }
	.slider-home .caption-left { bottom: 20px; left: 60px; }
	.slider-home .caption-right { bottom: 20px; right: 60px; }
	.home #home_instagram #grid_instagram img { border-bottom: 20px solid #E4DE46; }
	.emco #emco_seasons .emco_header_season { padding: 0 !important; }
	.acusticos #acusticos_header .font36 { font-size: 20px; }
	.acusticos #acusticos_header .font26 { font-size: 18px; }
	.section .header_section { padding: 0 !important; }
	.acusticos #acusticos_seasons .acusticos_header_season { padding: 0 !important; }
	.la-central #central_seasons .central_header_season { padding: 0 !important; }
	.todo-terreno #todoterreno_seasons .todoterreno_header_season { padding: 0 !important; }
	.series-cover { padding: 0 !important; }
	.header-social { right: 100px; top: 4px; }
}

/*CSS */
.no-text-link { right: 101%; font-size: 0; width: 1em; height: 1em; display: inline-block; overflow: hidden; border: 0!important; padding: 0!important; margin: 0!important; position: absolute; }

